* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #788878;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}