* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #788878;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suppliersSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.suppliersSelector p {
    width: 100%;
    text-align: center;
}

.supplierBtn {
    background-color: #f0f0f080;
    color: #000;
    border: none;
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.supplierBtn.active {
    background-color: #ffffff;
}

.supplierLister {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.572);
    margin: 2.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.supplierName {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addNewPiece {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: green;
    font-size: large;
    cursor: pointer;
}

.uiModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.67);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    z-index: 100;
}

.uiModalContent {
    width: 90vw;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.uiModalCloseBtn {
    position: absolute;
    top: 1vw;
    right: 1vw;
    padding: 5px;
    background-color: transparent;
    font-size: large;
    color: white;
    cursor: pointer;
}

#addNewPieceForm,
#editPieceForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

#addNewPieceForm h2,
#editPieceForm h2 {
    margin: 10px;
    color: white;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    color: white
}

.submitBtn {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.inputWrapper input,
.inputWrapper select,
.inputWrapper textarea {
    padding: 5px;
    border-radius: 10px;
}

.inputWrapper input[type="text"] {
    width: 200px;
}

.inputWrapper input[type="number"] {
    width: 100px;
}

/**********PIECECARD**********/

.piecesListContent ul {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pieceCard {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.pieceCard:hover {
    background-color: mediumaquamarine
}

.pieceCardBtnsLeft {
    display: flex;
    gap: 5px;
}

.pieceCard button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordered,
.received {
    background-color: aquamarine;
    border-radius: 50%;
}

.commandeDate {
    text-align: center;
    width: 15%;
}

.pieceMark {
    text-align: center;
    width: 10%;
}

.pieceModel {
    text-align: center;
    width: 10%;
}

.pieceRef {
    text-align: center;
    width: 20%;
}

.quantity {
    width: 5%;
}

.isClientWaitingFor {
    width: 10%;
}

.pieceCardInformations {
    width: 15%;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.pieceCardInformations p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.deleteBtn {
    margin-left: 5%;
}